doctype html
html(lang='en')
	head
		include ../../templates/head
		title Chatr
		style
			include style.css
	body
		include ../../templates/Header:Footer/header.pug
		.container
			.col-md-12
				.panel.panel-primary
					.panel-heading Pending Modules
					.panel-body
						p This is a list of modules that have been submitted by developers and are waiting for approval before being public on the marketplace.
						each module in pendingModules
							.col-md-6
								.panel.panel-default
									.panel-heading #{module.name}
									.panel-body
										p #{module.description}
										hr
										p #{module.code}
										hr
										a(href='/modules/' + module.id) View More Details
										form(action='https://chatr-apiserver-dev.herokuapp.com/modules/approve/'+module.id, method='post')
											input.btn.btn-success(type='submit', value='Approve')
										form(action='https://chatr-apiserver-dev.herokuapp.com/modules/deny/'+module.id, method='post')
											input.btn.btn-danger(type='submit', value='Deny')
		.spacer
		.container
			.col-md-12
				.panel.panel-primary
					.panel-heading Banned Modules
					.panel-body
						p This is a list of modules that have been banned.
						each module in bannedModules
							.col-md-6
								.panel.panel-default
									.panel-heading #{module.name}
									.panel-body
										p #{module.description}
										hr
										p #{module.code}
										hr
										a(href='/modules/' + module.id) View More Details
		.spacer
		.container
			.col-md-12
				.panel.panel-primary
					.panel-heading Banned Users
					.panel-body
						p This is a list of users that have been banned.
						each module in bannedUsers
							.col-md-6
								.panel.panel-default
									.panel-heading #{module.name}
									.panel-body
										p #{module.description}
										hr
										p #{module.code}
										hr
										a(href='/modules/' + module.id) View More Details
		.spacer
