doctype html
html(lang='en')
	head
		include ../../templates/head
		title Chatr
		style
			include style.css
	body
		include ../../templates/Header:Footer/header.pug
		.container
			.col-md-12
				.panel.panel-primary
					.panel-heading Message All Users
					.panel-body
						p Send a message to all users.
						input(id='inputMessageText' type='text')
						input.btn.btn-success(
							type='submit',
							value='Send'
							OnClick='buttonClick("POST", "https://'+server+'/bot/messageall/users/", {name: $("#inputMessageText").val(), type: "text"})')
		.container
			.col-md-12
				.panel.panel-primary
					.panel-heading Pending Modules
					.panel-body
						p This is a list of modules that have been submitted by developers and are waiting for approval before being public on the marketplace.
						each module in pendingModules
							.col-md-6
								.panel.panel-default
									.panel-heading #{module.name}
									.panel-body
										p #{module.description}
										h4
											small Code
										pre
											code=module.code
										h4
											small Pending Code
										pre
											code=module.pendingCode
										input.btn.btn-success(
											type='submit',
											value='Approve'
											OnClick='buttonClick("POST", "https://'+server+'/modules/approve/'+module.id+'", "")')
										input.btn.btn-danger(
											type='submit',
											value='Deny'
											OnClick='buttonClick("POST", "https://'+server+'/modules/deny/'+module.id+'", "")')
										a.btn(href='/modules/' + module.id) View More Details
		.spacer
		.container
			.col-md-12
				.panel.panel-primary
					.panel-heading Modules
					div(style='overflow:auto')
						table.table.table-bordered.table-striped
							thead
								tr
									th id
									th name
									th mescription
									th userID
									th code
									th active
									th createdAt
									th updatedAt
									th isBanned
							tbody
								each module in modules
									tr
										td #{module.id}
										td #{module.name}
										td #{module.description}
										td #{module.userId}
										td #{module.code}
										td #{module.active}
										td #{module.createdAt}
										td #{module.updatedAt}
										td
											if module.isBanned
												input.btn.btn-success(
													type='submit',
													value='Allow'
													OnClick='buttonClick("POST", "https://'+server+'/modules/unban/'+module.id+'", "")')
											else
												input.btn.btn-danger(
													type='submit',
													value='Ban'
													OnClick='buttonClick("POST", "https://'+server+'/modules/ban/'+module.id+'", "")')
		.spacer
		.container
			.col-md-12
				.panel.panel-primary
					.panel-heading Users
					div(style='overflow:auto')
						table.table.table-bordered.table-striped
							thead
								tr
									th id
									th FBSenderId
									th email
									th createdAt
									th updatedAt
									th isAdmin
									th isBanned
									th Delete?
							tbody
								each user in users
									tr
										td #{user.id}
										td #{user.FBSenderId}
										td #{user.email}
										td #{user.createdAt}
										td #{user.updatedAt}
										td
											if user.isAdmin
												input.btn.btn-danger(
													type='submit',
													value='Revoke'
													OnClick='buttonClick("POST", "https://'+server+'/users/revokeadmin/'+user.id+'", "")')
											else
												input.btn.btn-success(
													type='submit',
													value='Grant'
													OnClick='buttonClick("POST", "https://'+server+'/users/makeadmin/'+user.id+'", "")')
										td
											if user.isBanned
												input.btn.btn-success(
													type='submit',
													value='Allow'
													OnClick='buttonClick("POST", "https://'+server+'/users/unban/'+user.id+'", "")')
											else
												input.btn.btn-danger(
													type='submit',
													value='Ban'
													OnClick='buttonClick("POST", "https://'+server+'/users/ban/'+user.id+'", "")')
										td
											form(action='https://'+server+'/users/'+user.id+'/'+user.email+'/delete', method='post')
														input.btn.btn-danger(type='submit', value='Delete')
		.spacer
		script
			include ./index.js
