doctype html
html(lang='en')
	head
		include ../../templates/head
		title Manage Users
		style
			include style.css
	body
		include ../../templates/Header:Footer/header.pug
		.container
			.col-md-12
				.panel.panel-primary
					.panel-heading Users
					table.table.table-bordered.table-striped
						thead
							tr
								th Id
								th FBSenderId
								th email
								th createdAt
								th updatedAt
								th isAdmin
								th isBanned
								th Delete?
						tbody
							each user in users
								tr
									td #{user.id}
									td #{user.FBSenderId}
									td #{user.email}
									td #{user.createdAt}
									td #{user.updatedAt}
									td #{user.isAdmin}
									td #{user.isBanned}
									td
										a(href='users/' + user.id + '/' + user.email + '/delete' class='btn btn-danger') Delete
		include ../../templates/Header:Footer/footer.pug