doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Add Modules
    body
        include ../../templates/Header:Footer/header.pug

        h1 Your Bot

        h3 Current Modules
        ul
            each bot in currentModules
                li=bot

        h3 Available Modules
        form(method="POST", action=serverUrl)
            each bot in allModules
                input(type="checkbox", value=bot, name=bot, id=bot)
                label(for=bot)=bot
                br
            br
            button(type="submit") Submit

        include ../../templates/Header:Footer/footer.pug