doctype html
html(lang="en")
	head
		include ../../templates/head
		title Add Modules
		style
			include style.css
			include panel.css
	body
		include ../../templates/Header:Footer/header.pug
		.panel.panel-primary
			.panel-heading
				h1=botName
			.panel-body
				h1 <small>Current Modules</small>
				ul.list-group
					each bot in currentModules
						li.list-group-item=bot.name

				h1 <small>Available Modules</small>
				form(method="POST")
					each bot in allModules
						.input-group
							span.input-group-addon
								-const checked = currentModules.map(e => e.id).includes(bot.id);
								input(type="checkbox", value=bot.name, name=bot.name, id=bot.id, checked=checked, data-was-checked=checked, data-user-id=userId)
							label.form-control(for=bot.name)=bot.name
						br
					br
					button.btn.btn-primary(type="submit") Submit
		script
			include ./add-module-to-bot.js

		include ../../templates/Header:Footer/footer.pug