doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Add Modules
    body
        form(method="POST", action=serverUrl)
            h1=botName
            h3 Current Active Modules:
            ul
                each bot in activeModules
                    li=bot
            h3 Available Modules
            each bot in allModules
                input(type="checkbox", value=bot, name=bot, id=bot)
                label(for=bot)=bot
                br
            br
            button(type="submit") Submit