h1 #{botName}
p #{botDesc}
br
h3 Details
ul
    li <strong>Author ID: </strong> #{author}
    li <strong>Created At: </strong> #{created}
    li <strong>Last Updated: </strong> #{lastUpdated}
    li <strong>Number of Bots Using this Module: </strong>
br
h3 Code
div #{code}
